*.md
!README.md
!CHANGELOG.md
!Plugin/update.md

# Rust のビルド成果物
/src-tauri/target/

# Capabilities 補完用スキーマ
/src-tauri/gen/schemas/

# 一時的な Tauri 設定ファイル
/src-tauri/tauri.conf.json.tmp

# ── フロントエンド系
/node_modules/
/dist/

# ── エディタ設定
.vscode/

*.env
*.env.*.local
!*.env.development
!*.env.production

/test/
/target/

*.key
*.pem
/src-tauri/src/api_key.rs

archive

.react-router
